* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Songti TC", serif;
  font-size: 8pt;
  line-height: 1.375;
}

body {
  padding: 0.675em;
}

header {
  font-family: "Hiragino Mincho ProN", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 3;
  margin-top: -0.675rem;
}

h6 {
  font-family: "Pingfang TC", sans-serif;
  font-weight: 600;
  font-size: inherit;
  line-height: 1.675;
}

h6 .caption {
  font-family: "Kaiti TC", cursive;
  font-weight: normal;
}

ol {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.history {
  font-size: .875em;
  margin: 0 0 1em 3em;
}

.subsections {
  margin: 0;
  counter-reset: counter;
  list-style: none;
}

.subsections > li {
  counter-increment: counter;
}

.subsections > li:before {
  content: counter(counter, cjk-decimal) '\3000';
}

.items {
  margin: 0 0 0 3em;
}

.paragraphs > li, .history > li, .items > li {
  text-indent: -1em;
}

.paragraphs>li:nth-of-type(1):before { content:'①'; }
.paragraphs>li:nth-of-type(2):before { content:'②'; }
.paragraphs>li:nth-of-type(3):before { content:'③'; }
.paragraphs>li:nth-of-type(4):before { content:'④'; }
.paragraphs>li:nth-of-type(5):before { content:'⑤'; }
.paragraphs>li:nth-of-type(6):before { content:'⑥'; }
.paragraphs>li:nth-of-type(7):before { content:'⑦'; }
.paragraphs>li:nth-of-type(8):before { content:'⑧'; }
.paragraphs>li:nth-of-type(9):before { content:'⑨'; }
.paragraphs>li:nth-of-type(10):before { content:'⑩'; }

.paragraphs>li:only-of-type { text-indent: 0; }
.paragraphs>li:only-of-type:before { content: ''; }

.history>li:nth-of-type(1):before { content:'①'; }
.history>li:nth-of-type(2):before { content:'②'; }
.history>li:nth-of-type(3):before { content:'③'; }
.history>li:nth-of-type(4):before { content:'④'; }
.history>li:nth-of-type(5):before { content:'⑤'; }
.history>li:nth-of-type(6):before { content:'⑥'; }
.history>li:nth-of-type(7):before { content:'⑦'; }
.history>li:nth-of-type(8):before { content:'⑧'; }
.history>li:nth-of-type(9):before { content:'⑨'; }
.history>li:nth-of-type(10):before { content:'⑩'; }
.history>li:nth-of-type(11):before { content:'⑪'; }
.history>li:nth-of-type(12):before { content:'⑫'; }
.history>li:nth-of-type(13):before { content:'⑬'; }
.history>li:nth-of-type(14):before { content:'⑭'; }
.history>li:nth-of-type(15):before { content:'⑮'; }
.history>li:nth-of-type(16):before { content:'⑯'; }
.history>li:nth-of-type(17):before { content:'⑰'; }
.history>li:nth-of-type(18):before { content:'⑱'; }
.history>li:nth-of-type(19):before { content:'⑲'; }
.history>li:nth-of-type(20):before { content:'⑳'; }
.history>li:nth-of-type(21):before { content:'㉑'; }
.history>li:nth-of-type(22):before { content:'㉒'; }
.history>li:nth-of-type(23):before { content:'㉓'; }
.history>li:nth-of-type(24):before { content:'㉔'; }
.history>li:nth-of-type(25):before { content:'㉕'; }
.history>li:nth-of-type(26):before { content:'㉖'; }
.history>li:nth-of-type(27):before { content:'㉗'; }
.history>li:nth-of-type(28):before { content:'㉘'; }
.history>li:nth-of-type(29):before { content:'㉙'; }
.history>li:nth-of-type(30):before { content:'㉚'; }
.history>li:nth-of-type(31):before { content:'㉛'; }
.history>li:nth-of-type(32):before { content:'㉜'; }
.history>li:nth-of-type(33):before { content:'㉝'; }
.history>li:nth-of-type(34):before { content:'㉞'; }
.history>li:nth-of-type(35):before { content:'㉟'; }
.history>li:nth-of-type(36):before { content:'㊱'; }
.history>li:nth-of-type(37):before { content:'㊲'; }
.history>li:nth-of-type(38):before { content:'㊳'; }
.history>li:nth-of-type(39):before { content:'㊴'; }
.history>li:nth-of-type(40):before { content:'㊵'; }
.history>li:nth-of-type(41):before { content:'㊶'; }
.history>li:nth-of-type(42):before { content:'㊷'; }
.history>li:nth-of-type(43):before { content:'㊸'; }
.history>li:nth-of-type(44):before { content:'㊹'; }
.history>li:nth-of-type(45):before { content:'㊺'; }
.history>li:nth-of-type(46):before { content:'㊻'; }
.history>li:nth-of-type(47):before { content:'㊼'; }
.history>li:nth-of-type(48):before { content:'㊽'; }
.history>li:nth-of-type(49):before { content:'㊾'; }
.history>li:nth-of-type(50):before { content:'㊿'; }

.items>li:nth-of-type(1):before { content:'㈠'; }
.items>li:nth-of-type(2):before { content:'㈡'; }
.items>li:nth-of-type(3):before { content:'㈢'; }
.items>li:nth-of-type(4):before { content:'㈣'; }
.items>li:nth-of-type(5):before { content:'㈤'; }
.items>li:nth-of-type(6):before { content:'㈥'; }
.items>li:nth-of-type(7):before { content:'㈦'; }
.items>li:nth-of-type(8):before { content:'㈧'; }
.items>li:nth-of-type(9):before { content:'㈨'; }
.items>li:nth-of-type(10):before { content:'㈩'; }
