@page {
  size: 99mm 210mm;
  border: 1pt solid black;
  padding: 0.5em;
  counter-increment: page;
  font-family: "Songti TC", serif;
  font-size: 8pt;
}

@page :left {
  margin: 1.375em 3em 1.375em 2.5em;
  @left-top {
    writing-mode: vertical-rl;
    content: string(statute-title) '\ff08' string(statute-now, first) '\ff5e' string(statute-now, last) '\689d\fe36';
    margin: 0 .575em 0 .925em;
  }
  @left-bottom {
    writing-mode: vertical-rl;
    content: counter(page, cjk-decimal);
    margin: 0 .575em 0.25em .925em;
  }
}

@page :right {
  margin: 1.375em 2.5em 1.375em 3em;
  @right-top {
    writing-mode: vertical-lr;
    content: string(statute-title) '\ff08' string(statute-now, first) '\ff5e' string(statute-now, last) '\689d\fe36';
    margin: 0 .925em 0 .575em;
  }
  @right-bottom {
    writing-mode: vertical-lr;
    text-align: right;
    content: counter(page, cjk-decimal);
    margin: 0 .925em 0.25em .575em;
  }
}

body {
  padding: 0;
}

header {
  string-set: statute-title content();
}

h6 {
  string-set: statute-now attr(data-number);
  page-break-after: auto;
}
